* {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
    margin-right: auto;
}

.center {

    margin: auto;
    margin-top: 5%;
    width: 400px;
    /*border:2px solid #cccccc;*/
    padding: 10px;
}

.center a{
	color: gray;
}
.center a:hover{
	/*text-decoration: none;*/
	color: lightgray;
}

.title {
    text-align: center;
	font-weight: 400;
	font-size: 5em;

	margin-left: auto;
    margin-right: auto;
    /*width: %;*/
}


.subtitle {
    text-align: center;
	font-weight: 300;
	font-size: large;

	margin-left: auto;
    margin-right: auto;
    /*width: 40%;*/
}


.footer {
	font-weight: 400;
	font-size: 1em;

	/*text-align: center;*/

	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.footer a{
	text-decoration: none;
}
.footer a:hover{
	text-decoration: none;
	color: gray;
}



.links {
	margin-top: 10%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
	font-size: medium;
	/*display:block;*/
	width: 50%;
}

.linksbar {

    /*width: 50%;*/
    text-align: center;
    margin: 20px auto;
}

#logo {
    text-align: center;
	display: block;
	width: 60%;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin-top: 20px;
}


.icon a{
    font-size:xx-large;
    text-decoration: none;
    color: black;
}


#about {
    margin-top: 50px;
    text-align: center;
}

#fb{
    
}

#email{
    
}

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #a7bac7;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #bfcdd6;
  text-decoration: none;
}


@media only screen and (max-device-width: 480px) {
    .center {
        margin-top: 5%;
        width: 90%;
    }

    .title {
        text-align: center;
        display: block;
        font-size: 3em;
        width: 100%;
    }

    #about {
        text-align: center;
    }


    .subtitle {
        font-weight: 300;
        font-size: large;

        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }


    .footer {
        font-weight: 400;
        font-size: 1em;

        /*text-align: center;*/

        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .linksbar {

        width: 100%;
        margin: 20px auto;
    }

    .btn {
      width: 45%;
    }

    .btn:hover {
      background: #3cb0fd;
      text-decoration: none;
    }

}