* {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
    margin-right: auto;
}

.center {

    margin: auto;
    margin-top: 200px;
    width: 400px;
    border:2px solid #cccccc;
    padding: 10px;
}

.center a{
	color: gray;
}
.center a:hover{
	/*text-decoration: none;*/
	color: lightgray;
}

.title {
	font-weight: 400;
	font-size: xx-large;

	margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.subtitle {
	font-weight: 300;
	font-size: large;

	margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.footer {
	font-weight: 400;
	font-size: small;

	text-align: center;

	margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.footer a{
	text-decoration: none;
}
.footer a:hover{
	text-decoration: none;
	color: gray;
}



.links {
	margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
	font-size: large;
	/*display:block;*/
	width: 30%;
}

.linksbar {
    margin-right: auto;
    margin-left: auto;
    display:inline;
}

#logo {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


.icon{
    font-size:xx-large;
}

#fb{
    
}

#email{
    
}